:root {
--color00: #000000;
--color01: #000000;
--color02: #000000;
--color03: #bebebe;
--color04: #ffffff;
--color05: #e6d9db;
--color06: #ffffff;
--color07: #ffffff;
--color08: #D35F5F;
--color09: #b91c1c;
--color0A: #b90a0a;
--color0B: #FFC107;
--color0C: #bebebe;
--color0D: #e68e0d;
--color0E: #D35F5F;
--color0F: #B91C1C;
}
